@using ecommerce.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="content-push">

    <div class="breadcrumb-box">
        <a href="#">Home</a>
        <a href="#">Login Form</a>
    </div>

    <div class="information-blocks">
        <div class="row">
            <div class="col-sm-6 information-entry">
                <div class="login-box">
                    <div class="article-container style-1">
                        <h3>Login</h3>
                        <p>Lorem ipsum dolor amet, conse adipiscing, eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "simple-field" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "simple-field" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="button style-10 pull-right">
                            Login<input type="submit" value="" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 information-entry">
                <div class="login-box">
                    <div class="article-container style-1">
                        <h3>New Customers</h3>
                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    </div>
                    <a href="@Url.Action("Register")">
                        <div class="button style-12 pull-right">
                            Register<input type="submit" class="button style-12" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}