<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from rn53themes.net/themes/demo/lava-admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Mar 2018 09:30:44 GMT -->
<head>
    <title>Lava Material - Web Application and Website Multipurpose Admin Panel Template</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--== FAV ICON ==-->
    <link rel="shortcut icon" href="~/Images/fav.ico">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:300,400,500" rel="stylesheet">

    <!-- FONT-AWESOME ICON CSS -->
    <link rel="stylesheet" href="~/Content/admin/font-awesome.min.css">

    <!--== ALL CSS FILES ==-->
    <link rel="stylesheet" href="~/Content/admin/style.css">
    <link rel="stylesheet" href="~/Content/admin/mob.css">
    <link rel="stylesheet" href="~/Content/admin/bootstrap.css">
    <link rel="stylesheet" href="~/Content/admin/materialize.css" />
    <link rel="stylesheet" href="~/Content/admin/site.css">
    @RenderSection("styles", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
                <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a>
                <a href="@Url.Action("Index", "Main")" class="logo">
                    <img src="~/Images/logo1.png" alt="" />
                </a>
            </div>
            <!--== SEARCH ==-->
            <div class="col-md-6 col-sm-6 mob-hide">
                <form class="app-search">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href="#"><i class="fa fa-search"></i></a>
                </form>
            </div>
            <!--== NOTIFICATION ==-->
            <div class="col-md-2 tab-hide">
                <div class="top-not-cen">
                    <a class='waves-effect btn-noti' href='#'><i class="fa fa-commenting-o" aria-hidden="true"></i><span>5</span></a>
                    <a class='waves-effect btn-noti' href='#'><i class="fa fa-envelope-o" aria-hidden="true"></i><span>5</span></a>
                    <a class='waves-effect btn-noti' href='#'><i class="fa fa-tag" aria-hidden="true"></i><span>5</span></a>
                </div>
            </div>
            <!--== MY ACCCOUNT ==-->
            <div class="col-md-2 col-sm-3 col-xs-6">
                <!-- Dropdown Trigger -->
                <a class='waves-effect dropdown-button top-user-pro' href='#' data-activates='top-menu'>
                    <img src="~/Images/user/6.png" alt="" />My Account <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>

                <!-- Dropdown Structure -->
                <ul id='top-menu' class='dropdown-content top-menu-sty'>
                    <li>
                        <a href="setting.html" class="waves-effect"><i class="fa fa-cogs" aria-hidden="true"></i>Admin Setting</a>
                    </li>
                    <li>
                        <a href="offers.html" class="waves-effect"><i class="fa fa-tags" aria-hidden="true"></i> Offers</a>
                    </li>
                    <li>
                        <a href="user-add.html" class="waves-effect"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New User</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("LogOff", "Account", new { area="" })" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2">
        <div class="row">
            <div class="sb2-1">
                <!--== USER INFO ==-->
                <div class="sb2-12">
                    <ul>
                        <li>
                            <img src="~/Images/placeholder.jpg" alt="">
                        </li>
                        <li>
                            <h5>Victoria Baker <span> Santa Ana, CA</span></h5>
                        </li>
                        <li></li>
                    </ul>
                </div>
                <!--== LEFT MENU ==-->
                <div class="sb2-13">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <a href="@Url.Action("Index", "Main")" id="main"><i class="fa fa-bar-chart" aria-hidden="true"></i> Main</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index", "User")" id="allUser">All Users</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Add", "User")" id="addUser">Add New user</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Category</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("CategoryTypes", "Category")" id="allCategoryType">All Category Types</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AddCategoryType", "Category")" id="addCategoryType">Add Category Types</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Categories", "Category")" id="allCategory">All Categories</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AddCategories", "Category")" id="addCategory">Add Categories</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Product</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index", "Product")" id="allProducts">All Products</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AddProduct", "Product")" id="addProduct">Add Product</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sb2-2">
                @RenderBody()
            </div>

        </div>
    </div>

    <!--== BOTTOM FLOAT ICON ==-->
    <section>
        <div class="fixed-action-btn vertical">
            <a class="btn-floating btn-large red pulse">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                </li>
                <li>
                    <a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                </li>
                <li>
                    <a class="btn-floating green"><i class="material-icons">publish</i></a>
                </li>
                <li>
                    <a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                </li>
            </ul>
        </div>
    </section>

    <!--======== SCRIPT FILES =========-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app/materialize.min.js"></script>
    <script src="~/Scripts/app/custom.js"></script>
    @RenderSection("scripts1", false)
    <script type="text/javascript">
        var path = window.location.pathname;
        switch (path) {
            case "/Admin":
                $('#main').addClass('menu-active');
                break;
            case "/Admin/Category/CategoryTypes":
                $('#allCategoryType').addClass('menu-active');
                break;
            case "/Admin/Category/AddCategoryType":
                $('#addCategoryType').addClass('menu-active');
                break;
            case "/Admin/Category/Categories":
                $('#allCategory').addClass('menu-active');
                break;
            case "/Admin/Category/AddCategories":
                $('#addCategory').addClass('menu-active');
                break;
            case "/Admin/Product":
                $('#allProducts').addClass('menu-active');
                break;
            case "/Admin/Product/AddProduct":
                $('#addProduct').addClass('menu-active');
                break;
        }
    </script>
</body>


<!-- Mirrored from rn53themes.net/themes/demo/lava-admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Mar 2018 09:31:50 GMT -->
</html>